<div>
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <ul
      class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion"
      id="accordionSidebar"
    >
      <!-- Sidebar - Brand -->
      <a
        class="sidebar-brand d-flex align-items-center justify-content-center"
        href="#"
      >
        <div class="sidebar-brand-icon">
          <!-- <i class="fas fa-laugh-wink"></i> -->
          <img src="http://www.lyfplus.co.tz/assets/img/logos/logo_light.png" style="max-width: 120px;">
        </div>
        <!-- <div class="sidebar-brand-text mx-3">LyfPlus</div> -->
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0" />

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Home</span></a
        >
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider" />

      <!-- Nav Item - Users -->
      <li class="nav-item">
        <a
          class="nav-link collapsed"
          href="#"
          data-toggle="collapse"
          data-target="#collapseUsers"
          aria-expanded="true"
          aria-controls="collapseUsers"
        >
          <i class="fas fa-fw fa-users"></i>
          <span>Users</span>
        </a>
        <div
          id="collapseUsers"
          class="collapse"
          aria-labelledby="headingUsers"
          data-parent="#accordionSidebar"
        >
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" routerLink="clients">Clients</a>
            <a class="collapse-item" routerLink="specialists">Specialists</a>
            <a class="collapse-item" routerLink="referrals">Referrals</a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="invitations">
          <i class="fa fa-hashtag"></i>
          <span>Patient Invitations</span></a
        >
      </li>

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" routerLink="topics">
          <i class="fa fa-hashtag"></i>
          <span>Forum Topics</span></a
        >
      </li>

      <!-- Nav Item - Messages -->
      <li class="nav-item">
        <a class="nav-link" routerLink="message">
          <i class="fa fa-inbox"></i>
          <span>Messages</span></a
        >
      </li>

      <!-- Nav Item - Payment -->
      <li class="nav-item">
        <a
          class="nav-link collapsed"
          href="#"
          data-toggle="collapse"
          data-target="#collapsePayment"
          aria-expanded="true"
          aria-controls="collapsePayment"
        >
        <i class="fa fa-credit-card"></i>
          <span>Payment</span>
        </a>
        <div
          id="collapsePayment"
          class="collapse"
          aria-labelledby="headingPayment"
          data-parent="#accordionSidebar"
        >
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" routerLink="selcom">Selcom</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Articles -->
      <li class="nav-item">
        <a class="nav-link" routerLink="article">
          <i class="fa fa-file"></i>
          <span>Articles</span></a
        >
      </li>

      <!-- Nav Item - Services -->
      <li class="nav-item">
        <a class="nav-link" routerLink="services">
          <i class="fa fa-home"></i>
          <span>Home Services</span></a
        >
      </li>

      <!-- Nav Item - Discussions and Q&A -->
      <li class="nav-item">
        <a
          class="nav-link collapsed"
          data-toggle="collapse"
          data-target="#collapseForums"
          aria-expanded="true"
          aria-controls="collapseForums"
        >
        <i class="fa fa-comments"></i>
          <span>Discussions and Q&A</span>
        </a>
        <div
          id="collapseForums"
          class="collapse"
          aria-labelledby="headingForums"
          data-parent="#accordionSidebar"
        >
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" routerLink="user-posts">User Posts</a>
            <a class="collapse-item" routerLink="user-questions">User Questions</a>
            <a class="collapse-item" routerLink="specialists-posts">Specialists Posts</a>
            <a class="collapse-item" routerLink="specialist-answers">Answers by Specialists</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Hospitals Collapse Menu -->
      <li class="nav-item">
        <a
          class="nav-link collapsed"
          href="#"
          data-toggle="collapse"
          data-target="#collapseHospitals"
          aria-expanded="true"
          aria-controls="collapseHospitals"
        >
        <i class="fa fa-briefcase"></i>
          <span>Specialization</span>
        </a>
        <div
          id="collapseHospitals"
          class="collapse"
          aria-labelledby="headingHospitals"
          data-parent="#accordionSidebar"
        >
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" routerLink="specialization">Specialization</a>
            <a class="collapse-item" routerLink="hospitals">Hospitals</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Charts -->
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Payments</span></a
        >
      </li> -->

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" routerLink="abuse">
          <i class="fa fa-exclamation-triangle"></i>
          <span>Abuse/Reports</span></a
        >
      </li>

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" routerLink="symptoms">
          <i class="fa fa-heartbeat"></i>
          <span>All Symptoms</span></a
        >
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block" />

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>

    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <app-topbar></app-topbar>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <router-outlet></router-outlet>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; LyfPlus 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


