<div>
    <div class="d-flex row justify-content-start mb-4">
      <!-- Page Heading -->
      <h1 class="h3 mb-2 text-gray-800">KPIs done</h1>
    </div>
  
    <!-- Incentive doctors datatables -->
    <div class="card shadow mb-4">
      <div class="card-body">
        <div class="table-responsive">
          <table
            datatable
            [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger"
            class="row-border hover"
          >
            <thead>
              <tr>
                <th>Amount collected</th>
                <th>Activities done</th>
                <th>Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let k of tracking">
                <td>
                    {{ k.amount }}
                </td>
                <td>
                    {{ k.incentives_done.length }}
                </td>
                <td>
                    {{ convertDateTimetoNewFormat(k.created_at) }}
                </td>
                <td>
                    <button (click)="openIncentiveList(incentiveList, k.incentives_done)" class="btn btn-sm btn-primary">
                        View activities
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Incentive List modal -->
<ng-template #incentiveList let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">List of incentives done</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">KPI name</th>
          <th scope="col">Time done</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of incentives">
          <td>
            {{ x.kpi.kpi_name }}
          </td>
          <td>
            {{ convertDateTimeToTime(x.created_at) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>