<div>
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">All Appointments</h1>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-md font-weight-bold text-success text-uppercase mb-1"
              >
               Time of consultations
              </div>
              <!-- <div class="h5 mb-0 font-weight-bold text-gray-800">782,000</div> -->
            </div>
            <div class="col-auto">
              <i class="fa fa-clock fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-md font-weight-bold text-success text-uppercase mb-1"
              >
                Consultated doctors
              </div>
            </div>
            <div class="col-auto">
              <i class="fa fa-user-md fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a routerLink="/dashboard/conditions" class="col-xl-3 col-md-6 mb-4 link">
        <div>
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div
                      class="text-md font-weight-bold text-success text-uppercase mb-1"
                    >
                      Presented conditions
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fa fa-medkit fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </a>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-md font-weight-bold text-success text-uppercase mb-1"
              >
                User ID
              </div>
              <!-- <div class="h5 mb-0 font-weight-bold text-gray-800">30</div> -->
            </div>
            <div class="col-auto">
              <i class="fa fa-user fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->
</div>
