<div>

  <div class="d-flex row mb-3 justify-content-between">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Topics</h1>

    <button type="button" class="btn btn-primary" (click)="openAddTopicModal(addTopic)">
      Add topic
    </button>

  </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">

      <div class="card-body">
        <div class="table-responsive">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Image</th>
                  <th>Date added</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let topic of topics">
                  <td>{{ topic.topicTitle }}</td>
                  <td>
                      <img src="{{ topic.topic_image }}" style="max-width: 100px">
                  </td>
                  <td>{{ topic.additionDate }}</td>
                  <td>
                    <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                    ><i class="fas fa-ellipsis-v"></i></a>

                    <div class="dropdown-menu">
                       <a class="dropdown-item" style="cursor: pointer" (click)="openDeleteTopicModal(deleteTopic, topic)">
                        <i class="fas fa-trash-alt fa-color-danger"></i> &nbsp; Delete Topic
                        </a>
                    </div>
                  </td>
                </tr>
              </tbody>
              </table>
        </div>
      </div>
    </div>

</div>

<!-- Add Topic Modal -->
<ng-template #addTopic let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Topic</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="">Topic name</label>
        <input type="text" class="form-control" #caption>
      </div>

      <div class="form-group">
        <label for="">Topic Image (required)</label>
        <input type="file" class="form-control" (change)="onFileSelect($event)">
      </div>

      <div class="form-group">
        <button class="btn btn-success" (click)="saveTopic(caption.value)">Add topic</button>
      </div>
    </form>
  </div>
</ng-template>


<!-- Delete Topic -->
<ng-template #deleteTopic let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Topic</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    Are you sure you want to delete this Topic
    <br /><br />
    <button class="btn btn-danger" (click)="deleteSingleTopic()">Delete Topic</button>
    <br />
  </div>
</ng-template>
